.footer
  a(target="_blank", href="/")
    span Copyright 2018
  a(href="https://github.com/reorr")  @reorr
  .by_farbox
    a(href="https://hexo.io/", target="_blank", rel="noreferrer") Powered by Hexo&#65281;
