.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(alt="profile picture", src= url_for('https://avatars3.githubusercontent.com/u/10528000?v=3&s=127'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter, aria-label="twitter")
          i.fa(class="fa-twitter", aria-hidden='true')
    if theme.instagram
      li
        a(href="https://instagram.com/" + theme.instagram, aria-label="instagram")
          i.fa(class="fa-instagram", aria-hidden='true')
    if theme.rss
      li
        a(href= url_for(theme.rss), aria-label="rss")
          i.fa(class="fa-rss", aria-hidden='true')
    if theme.weibo
      li
        a(href="https://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.facebook
      li
        a(href="https://facebook.com/" + theme.facebook, aria-label="facebook")
          i.fa(class="fa-facebook", aria-hidden='true')
    if theme.github
      li
        a(href="https://github.com/" + theme.github, aria-label="github")
          i.fa(class="fa-github", aria-hidden='true')
  include footer
